html.lenis {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}
body {
	overflow: -moz-scrollbars-vertical;
	overflow-x: hidden;
	overflow-y: auto;
}
.spacer {
	height: 100vh;
}
.preloader {
	display: grid;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: black;
	color: white;
	font-size: xx-large;
}
.d-inline {
	display: inline!important;
}
.d-flex {
	display: flex!important;
}

body {
	background-color: #dcdcdcbf!important;
	color: rgb(0, 0, 0);
}
.title{
font-size: 6rem;
line-height: 5.6rem;
}.sub{
	line-height: 3.6rem;
}
.main-text{
	font-size: 4rem;
}
.word{
	transform: translateY(115px);
	transition: transform .5s;
}.animate2{clip-path: polygon(0 0, 100% 0, 100% 150%, 0% 100%);}
.animate{
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}.l{
	margin-top: 1rem;
}
.call{position: relative;
    top: -46px;
    left: 205px;}

.scroll-section-outer {
	overflow: hidden;
  }
  
  .scroll-section-inner {
	height: 100vh;
	width: 400vw;
	display: flex;
	flex-direction: row;
	position: relative;
  }
  
  .scroll-section {
	height: 100vh;
	width: 100vb;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .scroll-section h3 {
	color: var(--primaryTextColor);
	letter-spacing: var(--headlineMedium);
	font-size: var(--headlineMedium);
	text-transform: uppercase;
  }.nob{
	margin-bottom: -2rem!important;
  }
  .firstcard{
	margin-left:1rem ;
	margin-top: 6rem;
	width: 33rem;
	height: 60vh;
  }.int{    position: relative;
	top: 18px;
    right: 18px;

}
  .cardheight{
	height: 61vh;
	border-radius: 2rem!important;

  }.mysec{
	width: 60vb!important;
	
  }
  .vcard{
border-radius: 2rem!important;
  }
  .card-title{
	display: flex;
    flex-direction: row-reverse;
  }
  .plus{
	color: #414141;
  }
  .mapimg{
		background-image: url('/map.png');
		background-size: cover; /* Adjust as needed */
		background-position: center; /* Adjust as needed */
		background-repeat: no-repeat; /* Adjust as needed */
	  
  }
  .mapimg .plus {
	position: absolute;
    bottom: 18px;
    color: white;
    right: 18px;
    background-color: #414141;
    border-radius: 50%;
  }.linkedin{
	position: absolute;
    bottom: 18px;
    color: white;
    right: 18px;
    background-color: #414141;
    border-radius: 50%;
  }.myfour{
	width: 100vb;
  }.work{background-color: white;
    border-radius: 2rem;
height: 26rem;}
  .mythird{
	width: 61vb;
  }.linkedcolor{
	background-color: #4da1cf;
  }
  .linkedsize{
	font-size: 6rem;
    color: white;  }
.myt{
	background-color: #f2e77e;
}
.centerall{display: grid;
    align-content: center;
    justify-content: center;}
	.lappyimg{
		color: transparent;
    position: relative;
    z-index: 10;
    top: -233px;
	}.lappytxt{display: grid;
		height: 100%;
		justify-content: center;}
	.myvdo{    width: 445px;
		height: 303px;
		position: relative;
		top: 43px;
		z-index: 100;
		left: 76px;}.bor{border-bottom:#e4e4e4 solid 5px;
		color: #676565;}
		.mymargin{margin-top: 30px;}
		.active{
			color: black!important;
		}
		.lets-work {
			background-color: black;
			color: white;
			padding: 20px;
			border-top-left-radius: 5%;
			border-top-right-radius: 5%;
		  }
		  
		  .contact{
			height: 30rem;
display: flex;
align-items: center;
		  }
		  .talk{top: 9px;
			position: relative;}
			a {
				color: #ffffff;
				text-decoration: none;}
				a:hover {
					color: #ffffff;
					text-decoration: none;}
					.fb{
						color: black!important;
					}
					@media only screen and (max-width: 600px) {
						.notmobile{
							display: none;
						}
						.title{
							font-size: 3rem;
line-height: 3rem;
						}.s-hide{
							display: none;
						}
						.main-text {
							font-size: 2rem;
						}.sub{line-height: 1.6rem;}
						.firstcard {
							margin-left: 1rem;
							margin-top: 6rem;
							width: 21rem;
							height: 43vh;
						}.cardheight {
							height: 43vh;
							border-radius: 2rem!important;
						}
						.d-md-none{
							display: none;
						}.mobfont{font-size: 2.5rem;}.mobfont1{font-size: 1.5rem;}
						.con{margin-left: 0px!important;
							width: 13rem;
							margin-top: 1rem;}
							.lets-work {
							
								width: 103%;
							
							}
							.let{    display: grid!important;
								align-content: center!important;
								justify-content: end!important;
							}
					  }
					
						.mobile{width: 103%;
						}
						.btn-outline-light1{    color: #000!important;
							background-color: #ffffff;
							border-color: #d1d1d1;
						width: 100%;}
					.let{    display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						align-content: center;
						justify-content: space-around;}